@import "../../utils/variables";

#inputbox--container {
    background: $col-lightgrey;
    border-radius: 2em;
    padding: 0.5em;
    text-align: left;
}

#inputbox--input {
    background: $col-lightgrey;
    border: 0;
    font-size: 1.4em;
}

#inputbox--input::placeholder {
    color: $col-grey;
}

#inputbox--button {
    background: $col-purple;
    border: 0;
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    float: right;
    cursor: pointer;
}

#inputbox--container * {
    margin: 0;
    font-family: "Sanchez", serif;
}

.inputbox--grey-border {
    border: 2px solid $col-grey;
}

.inputbox--white-border {
    border: 2px solid white;
}
