@import "../../utils/variables";

#start-message--container {
    color: white;
}

#start-message--text-wrapper {
    display: inline-block;
    padding: 2.5em;
    vertical-align: top;
    text-align: start;
}
#start-message--top-text {
    font-family: $font-heading;
}

#start-message--bottom-text {
    font-family: $font-body;
}

#start-message--text-wrapper * {
    margin: 0;
}
