@import "../../utils/variables";

#card--container {
    display: inline-block;
    background: white;
    border-radius: 11px;
    border-spacing: 0px;
    box-shadow: 0 0 4px $col-grey;
    font-family: $font-body;
}

#card--main {
    padding: 1em 1.5em;
}

#card--footer {
    min-height: 0.5em;
    margin: 0;
    padding: 0.25em 0.5em;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: $col-purple;
}

#card--container * {
    text-align: start;
}
