#logo--container {
    display: inline-block;
    position: relative;
    margin-right: 1em;
    text-align: start;
    vertical-align: top;
    cursor: pointer;
}

#logo--splash {
    position: absolute;
    height: 80%;
    width: 100%;
    padding-top: 10%;
}

#logo--image {
    position: absolute;
    height: 75%;
    margin-top: 15%;
    margin-left: 11%;
    padding-top: 10%;
}

.logo--small {
    height: 40px;
    width: 40px;
}

.logo--large {
    height: 140px;
    width: 140px;
}
