// Colors
$col-yellow: #ffc75f;
$col-darkyellow: #e7b355;
$col-purple: #845ec2;

$col-grey: #969696;
$col-lightgrey: #efefef;

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sanchez&display=swap");

$font-heading: "Love Ya Like A Sister", cursive;
$font-body: "Sanchez", serif;

// Dimensions
$width-page-max: 40em;
