@import "../../utils/variables";

#translate--body {
    min-height: 5.25em;
    padding-top: 1em;
    background: linear-gradient(to bottom, $col-yellow 5.25em, white 0);
}

.translate--translation-card {
    width: 100%;
    margin-top: 4em;
}
