@import "../../utils/variables";

.dropdown--container {
    position: absolute;
    translate: -10px;
    background-color: white;
    padding: 0.15em 1em;
    border: 1px solid $col-grey;
    border-radius: 5px;
    text-align: left;
}

.dropdown--item {
    color: black;
    font-family: $font-body;
    cursor: pointer;
}
