@import "../../utils/variables";

#header--container {
    padding: 0.5em;
    background: $col-yellow;
    border-bottom: 2px solid $col-darkyellow;
    height: 2.75em;
}

#header--content {
    color: white;
}

#header--content-left {
    float: left;
}

#header--content-right {
    float: right;
}

#header--title {
    display: inline-block;
    margin-bottom: 0;
    font-family: $font-heading;
    cursor: pointer;
}
